*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}
@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
}

.p-header {
  position: fixed;
  height: 64px;
  display: flex;
  background-color: #fff;
  align-items: center;
  padding: 15px 24px;
  margin: 0 auto; 
  justify-content: space-between;
  width: 100%;
  z-index: 3;
}

.p-header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.subtitle {
  color: #BDCFDE;
}

.p-header__nav__record {
  color: #fff;
  border-radius: 100vh;
  background: linear-gradient(to right, #0074BB 0%, #02CDFB 100%);
  padding: 10px 50px; 
  box-shadow: 0 5px 5px 0 #65dffa;
  text-decoration: none;
  font-size: 80%;
}
@media (max-width: 800px) {
  .p-header__nav__record {
    display: none;
  }
}

main {
  background-color: #F5F5F8;
  overflow: scroll;
  z-index: 2;
  padding-top: 64px;
  height: 100vh;
}
@media (max-width: 800px) {
  main {
    position: relative;
    background-color: #f5f5f8;
    padding-top: 64px;
    overflow: scroll;
  }
}

.p-body-chart {
  position: relative;
  display: flex;
  margin: auto;
  height: 80vh;
}
@media (max-width: 800px) {
  .p-body-chart {
    position: relative;
    display: block;
    flex-flow: column;
    height: auto;
  }
}

.p-body-left {
  position: relative;
  margin: 20px 20px 20px 50px;
  display: block;
  width: 48%;
  height: 70vh;
}
@media (max-width: 800px) {
  .p-body-left {
    position: relative;
    width: auto;
    flex-wrap: wrap;
    margin: 20px 20px 0 20px;
    height: 370px;
  }
}

.p-body-right {
  position: relative;
  width: 48%;
  height: 70vh;
  margin-right: 50px;
}
@media (max-width: 800px) {
  .p-body-right {
    display: flex;
    width: auto;
    margin: 16px 20px -55px 20px;
    gap: 16px;
  }
}

.p-body-hour-flex {
  display: flex;
  width: 100%;
  gap: 10px;
}
@media (max-width: 800px) {
  .p-body-hour-flex {
    position: relative;
    height: 37%;
    gap: 16px;
    margin-bottom: 16px;
  }
}

.p-body-hour {
  display: flex;
  flex-flow: column;
  border-radius: 10px;
  background-color: #fff;
  flex-grow: 1;
  width: 16%;
}

.hour-title {
  padding: 10px;
  margin: 5px;
  color: #0070b8;
  text-align: center;
}
@media (max-width: 800px) {
  .hour-title {
    margin: auto;
  }
}

.hour-number {
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  color: #555;
  text-align: center;
}
@media (max-width: 800px) {
  .hour-number {
    font-size: 20px;
    margin: auto;
  }
}

.hour-text {
  padding: 10px;
  margin: 5px;
  text-align: center;
  color: silver;
}
@media (max-width: 800px) {
  .hour-text {
    margin: auto;
  }
}

.boundary {
  display: none;
}
@media (max-width: 800px) {
  .boundary {
    display: block;
    border-top: 2px solid #DEE7EE;
    margin: 14px 0;
  }
}
.myChart1 {
  position: absolute;
  margin: 20px 20px 20px 0;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  height: 70%;
}
@media (max-width: 800px) {
  .myChart1 {
    margin: 0 0 16px 0;
    height: 200px;
  }
}

.chartjs-render-monitor {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myChart2 {
  position: absolute;
  margin: 20px 8px 20px 0;
  background-color: #fff;
  justify-content: flex-start;
  border-radius: 10px;
  width: 48%;
  height: 70vh;
  padding: 10px;
}
@media (max-width: 800px) {
  .myChart2 {
    position: absolute;
    width: 100%;
    height: 80%;
  }
}
.myChart3 {
  position: absolute;
  right: 0;
  text-align: right;
  background-color: #fff;
  justify-content: flex-end;
  border-radius: 10px;
  margin: 20px 0 20px 8px;
  width: 48%;
  height: 70vh;
  padding: 10px;
}
@media (max-width: 800px) {
  .myChart3 {
    position: absolute;
    margin-left: -2px;
    width: 100%;
    left: 0;
    height: 80%;
  }
}

.circle-left {
  display: flex;
}
@media (max-width: 800px) {
  .circle-left {
    position: relative;
    width: 50%;
    box-sizing: border-box;
  }
}

.circle-right {
  display: flex;
}
@media (max-width: 800px) {
  .circle-right {
    position: relative;
    width: 50%;
    box-sizing: border-box;
  }
}

.open {
  cursor: pointer;  /*カーソルの形状を変える*/
}

#pop-up-0 {
  display: none;
}

#pop-up-1 {
  display: none; 
}

#pop-up-2 {
  display: none; 
}

#pop-up-3 {
  display: none;
}

.overlay {
	display: none;
}

#pop-up-1:checked + .overlay { /*pop-up-1にチェックが入ったらoverlayにこのcssを適用する*/
  display: block;
  z-index: 9999;
  background-color: #00000070;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: scroll;
}

#pop-up-2:checked + .overlay { /*pop-up-2にチェックが入ったらoverlayにこのcssを適用する*/
  display: block;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.window-1, .window-2 {
  position: relative;
	max-width: 1028px;
	height: 500px;
	background-color: #ffffff;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  padding: 50px 0 20px 0;
  width: 900px;
}
@media (max-width: 800px) {
  .window-1 {
    margin-top: 120px;
    position: relative;
    flex-flow: column;
    display: block;
    width: auto;
    height: 120vh;
    border-radius: 20px;
    padding: 20px 10px;
    overflow: hidden;
  }
}
.window-3 {
  position: relative;
	max-width: 1028px;
	height: 500px;
	background-color: #ffffff;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  padding: 50px 0 20px 0;
  width: 900px;
  z-index: 1;
}

@media (max-width: 800px) {
  .window-2, .window-3 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
  }
}

.text {
  font-size: 18px;
	margin: 0;
}

.close {
  position: absolute;
  cursor: pointer;
	top: 10px;
	right: 20px;
	font-size: 30px;
  border-radius: 50%;
  background-color: #f5f5f8;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 23px;
}

.pop__left {
  display: flex;
  flex-flow: column;
  width: 48%;
  height: 100%;
  margin: 0 40px 0 56px;
}
@media (max-width: 800px) {
  .pop__left {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
  }
}

.pop__right {
  display: flex;
  flex-flow: column;
  width: 48%;
  height: 100%;
  margin-right: 56px;
}
@media (max-width: 800px) {
  .pop__right {
    display: block;
    margin: 20px auto;
    width: 80%;
    height: 50%;
  }
}

h1 {
  font-size: small;
}

textarea {
  resize: none;
  background-color: #F5F5F8;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  margin-top: 5px;
  height: 185px;
}
@media (max-width: 800px) {
  textarea {
    height: 100px;
  }
}
.input__checkbox {
  display: none;
}

#day, #hour {
  background-color: #F5F5F8;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  margin: 5px 0 30px 0;
  padding: 15px;
}
@media (max-width: 800px) {
  #day, #hour {
    height: 40px;
  }
}

.day {
  background-color: #F5F5F8;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  margin: 5px 0 30px 0;
  padding: 15px;
}
@media (max-width: 800px) {
  .day {
    height: 40px;
  }
}

@media (max-width: 800px) {
  #twitter-comment {
    margin-bottom: 10px;
  }
}

#twitter {
  background-color: #F5F5F8;
  border-radius: 10px;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0 20px 0;
}
@media (max-width: 800px) {
  .contents {
    width: 80%;
  }
}
.languages {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
}

.space-1 {
  width: 100%;
}

#study-day, #study-time, #twitter-comment {
  font-size: small;
}

.label {
  border-radius: 20px;
  cursor: pointer;
  background-color: #F5F5F8;
  padding: 5px 10px 5px 5px;
  margin: 5px 5px 5px 0;
  font-size: small;
}

.checkbox {
  position: relative;
  vertical-align: middle;
  font-size: 15px;
  margin-right: 5px;
}

.input__checkbox + .checkbox:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: '\f058';
  color: #ccc;
}

.input__checkbox:checked + .checkbox:before {
  color: #0f71bd;
}

.input__checkbox:checked + .label:after {
  background-color: #e7f5ff;
  content: "";
}

.label__twitter {
  cursor: pointer;
  font-size: x-small;
  margin-top: 10px;
}
@media (max-width: 800px) {
  .label__twitter {
    position: absolute;
    margin: -5px 0;
  }
}

.t__checkbox {
  display: none;
}

.twitter__checkbox {
  position: relative;
  vertical-align: middle;
  font-size: 30px;
  margin-right: 5px;
}

.t__checkbox + .twitter__checkbox:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: '\f058';
  color: #ccc;
}

.t__checkbox:checked + .twitter__checkbox:before {
  color: #0070b8;
}

.window__footer {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  color: #fff;
  border-radius: 100vh;
  background: linear-gradient(to right, #0074BB 0%, #02CDFB 100%);
  padding: 10px 50px; 
  box-shadow: 0 5px 5px 0 #65dffa;
  text-decoration: none;
  font-size: 90%;
  bottom: 30px;
}
@media(max-width: 800px) {
  .window__footer {
    display: block;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

#day-of-week {
  color: #97B9D1;
}

table {
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

th, td {
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

td {
  width: 40px;
  height: 40px;
}

td.disabled {
  opacity: 0;
}

td.before {
  color: silver;
}

td.today {
  color: white;
  background-color: #0F70BE;
  border-radius: 50%;
}

#date {
  margin: 0 auto;
  position: relative;
  left: 13%;
}

#prev, #next, .today {
  cursor: pointer;
  user-select: none;
}

#prev {
  left: 10%;
  color: #0f71bc;
  margin: 0 20px;
  font-size: 150%;
}

#next {
  color: #97b9d1;
  margin: 0 20px;
  font-size: 150%;
}
.determination {
  text-align: center;
  line-height: 25px;
  height: 45px;
  color: #fff;
  border-radius: 100vh;
  background: linear-gradient(to right, #0074BB 0%, #02CDFB 100%);
  padding: 10px 50px; 
  box-shadow: 0 5px 5px 0 #65dffa;
  text-decoration: none;
  font-size: 120%;
  display: block;
  margin: 10px auto;
  width: 20%;
}
@media (max-width: 800px) {
  .determination {
    width: 40%;
    font-size: 100%;
  }
}

#determine {
  display: none;
}

.arrow {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 20px;
  font-size: 30px;
  border-radius: 50%;
  background-color: #f5f5f8;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 23px;
}

.fa-arrow-left {
  font-size: 20px;
}

.loader-wrap {
	position: fixed;
	display: flex;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: linear-gradient(to right, #0074BB 0%, #02CDFB 100%);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.awesome {
  color: #BDE360;
}

.completion {
  margin: 0 auto;
}
@media(max-width: 800px) {
  .completion {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
}

.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  border-radius: 50%;
  background-color: #BDE360;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
}

.checkmark::after {
  content: "";
  width: 20px;
  height: 13px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  margin-bottom: 7px;
}

.completion__text {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  line-height: 1.5;
}

.p-footer {
  padding: 20px 0 20px 0;
  background-color: #F5F5F8;
}

.date {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: small;
}

#this-ym {
  margin: auto 0;
}

.back {
  color: #0f71bc;
  margin: 0 20px;
  font-size: 170%;
}

.next {
  color: #97b9d1;
  margin: 0 20px;
  font-size: 170%;
}

.p-footer__nav__record {
  display: none;
}
@media (max-width: 800px) {
  .p-footer__nav__record {
    display: block;
    margin: 20px;
    text-align: center;
    line-height: 25px;
    height: 45px;
    color: #fff;
    border-radius: 100vh;
    background: linear-gradient(to right, #0074BB 0%, #02CDFB 100%);
    padding: 10px 50px; 
    box-shadow: 0 5px 5px 0 #65dffa;
    text-decoration: none;
    font-size: 120%;
  }
}